<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="{{ site.author.name }}" />
  {% if page.title %}<meta name="title" content="{{ page.title }}" />{% endif %}
  {% if page.tags %}<meta name="keywords" content="{% for tag in page.tags %}{{ tag }}{% if forloop.last == false %}, {% endif %}{% endfor %}">{% endif %}
  <title>{{ page.title }} - Zhanming's blog</title>
  <link rel="shortcut icon" href="/favicon.ico" type="image/ico">
  <link rel="stylesheet" href="/assets/bootstrap/4.3/css/bootstrap.min.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="/assets/app/css/screen.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="/assets/app/css/syntax.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="/assets/app/css/style.css" type="text/css" media="screen" />
  <script type="text/javascript" charset="utf-8" src="/assets/jquery/3.3.1/jquery-slim.min.js"></script>
</head>
<body>

<div class="navbar navbar-expand-lg fixed-top navbar-light bg-light border-bottom">
  <div class="container">
    <a class="navbar-brand" href="/">{{ site.title}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item{% if page.navigation %} {% else %} active{% endif%}"><a class="nav-link" href="/">首页</a></li>
		<li class="nav-item{% if page.navigation == 'Archives' %} active{% endif%}"><a class="nav-link" href="/blog/archives">归档</a></li>
		<li class="nav-item{% if page.navigation == 'Tags' %} active{% endif%}"><a class="nav-link" href="/blog/tags">标签</a></li>
		<li class="nav-item{% if page.navigation == 'About' %} active{% endif%}"><a class="nav-link" href="/blog/about">关于</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="container">
{{content}}
</div>
<div class="footer">
    <p>
      <span>&copy; 2012 - {{ site.time | date: "%Y" }} {{ site.domain.name }}</span>
    </p>
</div>
<script type="text/javascript" charset="utf-8" src="/assets/bootstrap/4.3/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" charset="utf-8" src="/assets/app/js/app.js"> </script>
{% comment %}
{% include comments_count %}
{% endcomment %}
{% comment %}
{% include analytics %}
{% endcomment %}
</body>
</html>
