---
layout: default
---


<div class="row">
	<div class="col-md-9">
		<div class="post">
			<div class="post-title">
				<a href="{{ page.url }}" title="到《{{ page.title }}》的永久链接">{{ page.title }}</a>
			</div>
			<div class="post-info">
				<span>{{ page.date | date: "%Y-%m-%d" }} | 标签: {% for tag in page.tags %}<a href="/blog/tags#{{ tag }}" rel="tag">{{ tag }}</a>{% if forloop.last == false %}, {% endif %}{% endfor %}{%if page.update%} | 更新: {{ page.update}}{% endif%}</span>
			</div>
			<div class="entry">
				{{ content }}
			</div>
			<div>
				分类: {% for cat in page.categories %}<a href="/blog/categories#{{ cat }}" rel="category tag">{{ cat }}</a>{% if forloop.last == false %}, {% endif %}{% endfor %} | <a href="{{ post.url }}#disqus_thread">评论</a>
			</div>
		</div>
		{% comment %}<!---->{% endcomment %}
		<div>
			<ul class="pager">
				{% if page.previous %}
				<li class="previous"><a href="{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; {{ page.previous.title }}</a></li>
				{% endif %}
				{% if page.next %}
				<li class="next"><a href="{{ page.next.url }}" title="{{ page.next.title }}">{{ page.next.title }} &rarr;</a></li>
				{% endif %}
			</ul>
		</div>
		<hr/>
		{% include comments %}
	</div>
	<div class="col-md-3">
		{% include toc.html %}
		{% include recently.html%}
		{% include qr_code.html %}
	</div>
</div>

